/**
 * @file
 * Module specific style sheets.
 */

/**
 * The following empty definition is a dirty workaround!
 * The reason for that workaround was the fact that Drupal omits the first
 * style definition in this file...
 * Don't know how it does'
 */

html {}

/**
 * SODIS search results:
 */

div.search-result {
  display: block;
  padding: 10px 10px 0 10px;
  margin-bottom: 30px;
  border-bottom: solid 2px #eee;
  font-size: 0.9em;
}

div.search-result p {
  padding: 0;
}

div.search-result-header {
  margin-top: -40px;
  margin-bottom: 20px;
  color: #aaa;
}

span.search-result-from-to {
  float: right;
}

a.result-title {
  font-size: 0.9em;
/*  text-decoration: none !important;
  color: #333 !important;*/
}
/*a.result-title:hover,
a.result-title:focus {
  background-color: #333 !important;
}*/

div.search-result-teaser > figure {
  float: left;
  margin: 0 10px 5px 0;
  padding: 0;
  width: auto;
  max-width: 140px;
  height: auto;
  overflow: hidden;
}

div.search-result-teaser > figure > img {
  padding: 2px;
  width: auto;
  max-width: 130px;
  height: auto;
  max-height: 130px;
  border: 1px solid #ddd;
}

div.search-result-teaser > img {
  float: left;
  margin: 0 10px 5px 0;
  padding: 2px;
  width: auto;
  max-width: 130px;
  height: auto;
  overflow: hidden;
  border: 1px solid #ddd;
}

div.search-result-teaser span.publisher:not([title='']) {
  cursor: help;
}

.search-result-more-toggle {
  clear: both;
  text-align: right;
  color: #aaa;
  cursor: pointer;
}
.search-result-more-toggle:hover,
.search-result-more-toggle:focus {
  color: #000;
}

div.search-result-more {
  display: none;
}

div.search-result-more p {
  padding: 0;
}

a.effectless {
  background: inherit !important;
  text-decoration: inherit !important;
  color: inherit !important;
}

img.search-result-cc {
  width: 80px;
  height: 15px;
}

strong.search-result-left-col {
  float: left;
  padding-right: 10px;
  width: 130px;
  text-align: right;
}

.search-result-right-col {
  display: block;
  margin-left: 150px;
}

#main1 ul.search-result-trigger,
#main2 ul.search-result-trigger {
  float: right;
  margin: 0 0 10px 10px;
  padding: 0;
  width: 90px;
  list-style-type: none;
  text-align: right;
}
ul.search-result-trigger li {
  margin: 0;
  padding: 0;
  color: #aaa;
  cursor: pointer;
}
ul.search-result-trigger li:hover {
  color: #000;
}

div.search-result-footer {
  margin: 0 -10px;
  background-color: #eee;
}

div.search-result-direct-link-box {
  padding: 10px;
}
div.search-result-direct-link-box > input {
  width: 95%;
  cursor: text;
}

div.search-result-social-share-privacy-box {
  padding: 10px;
  width: 100%;
}

#main1 ul.social_share_privacy_area,
#main2 ul.social_share_privacy_area {
  margin: 0 auto !important;
  height: auto !important;
  clear: none !important;
}

#main1 ul.social_share_privacy_area > li,
#main2 ul.social_share_privacy_area > li {
  margin: 0 10px !important;
  width: auto !important;
}
/*div.search-result-footer > div.ssp_wrapper > ul.social_share_privacy_area > li.twitter {
  width: 140px !important;
}
div.search-result-footer > div.ssp_wrapper > ul.social_share_privacy_area > li.gplus {
  width: 111px !important;
}*/
.social_share_privacy_area li div.dummy_btn {
  width: auto !important;
}

/**
 * Pagination
 */

div.search-result-pagination {
  text-align: center;
  color: #999;
}

div.search-result-pagination > a,
div.search-result-pagination > a:hover,
div.search-result-pagination > a:focus {
  text-decoration: none !important;
  font-size: 0.9em;
  color: #333 !important;
}

/**
 * Sidebar second (legal notice & facets):
 */

#rechtshinweis_text {
  display: none;
}

ul.search-result-facets li > a {
  display: block;
}

ul.search-result-facets li > a > i{
  float: right;
}

ul.search-result-facets li {
  display: block !important;
}
ul.search-result-facets div.content-more {
  display: none;
}
ul.search-result-facets li.toggle-more {
  padding: 0 10px !important;
  text-align: right;
  cursor: pointer;
}

/**
 * EDMOND teaser:
 */

#edmond_teaser {
  padding: 10px 10px 30px 10px;
}
#edmond_teaser > .edmond_result {
  float: left;
}
#edmond_teaser > .edmond_result > div {
  margin: 0 0 0 15px;
  line-height: 1.5em;
  font-size: 0.8em;
  overflow-wrap: break-word;
  overflow: hidden;
}
#edmond_teaser > .edmond_result:first-of-type > div {
  margin: 0;
}
#edmond_teaser img {
  max-width: 100%;
  height: auto;
}
#edmond_logo a,
#edmond_logo a:link,
#edmond_logo a:hover,
#edmond_logo a:focus,
#edmond_logo a:active,
#edmond_logo a:visited {
  background: inherit;
}

/**
 * EDMOND results:
 */

#edmond_results > table {
  margin: 0;
  font-size: 0.8em;
}

#edmond_results > table th {
  border-bottom: solid 2px #000;
}

/**
 * Edutags:
 */

.search-result-rating {
  margin-bottom: 5px;
  /*width: 80px;*/
  /*font-size: 16px;*/
  line-height: 1.0em;
  /*font-size: 0.8em;*/
}
/*.search-result-rating > .edutags-rating > i {
  float: right;
  margin-right: -16px;
}*/

.search-result-rating .edutags-voting {
  float: left;
  width: 65px;
  height: 13px;
  background: url('../img/rating_star.png') 0px 0px repeat-x;
  background-size: 13px;
  line-height: 13px;
}
.search-result-rating .edutags-voting .rating-value {
  height: 100%;
  width: 0;
  background: url('../img/rating_star.png') 0 -13px repeat-x;
  background-size: 13px;
}
/*.search-result-rating .edutags-rating .rating-value.rating_1stars {
  width: 16px;
}
.search-result-rating .edutags-rating .rating-value.rating_2stars {
  width: 32px;
}
.search-result-rating .edutags-rating .rating-value.rating_3stars {
  width: 48px;
}
.search-result-rating .edutags-rating .rating-value.rating_4stars {
  width: 64px;
}
.search-result-rating .edutags-rating .rating-value.rating_5stars {
  width: 80px;
}*/

#main1 .search-result-edutags-box > div > ul,
#main2 .search-result-edutags-box > div > ul {
  list-style-type: none;
}

#main1 .search-result-edutags-box > div > ul > li,
#main2 .search-result-edutags-box > div > ul > li {
  display: inline-block;
  /*float: left;*/
  margin: 0;
  padding: 0 5px;
}

#main1 .edutags-tags > ul > li,
#main2 .edutags-tags > ul > li {
  cursor: help;
}

i.fa-fake-edutags {
  float: left;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-image: url('../img/edutags.png');
}
i.fa-fake-edutags.colorized {
  background-image: url('../img/edutags_color.png');
}

#main1 .search-result-edutags-box > div,
#main2 .search-result-edutags-box > div {
  margin-right: 30px;
  padding: 10px 0;
}

#main1 .search-result-edutags-box > div > h5,
#main2 .search-result-edutags-box > div > h5 {
  float: left;
  width: 140px;
  text-align: right;
  margin: 0;
  padding: 0;
}

#main1 .search-result-edutags-box > div > ul,
#main2 .search-result-edutags-box > div > ul {
  margin: 0 10px 0 160px;
  padding: 0;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

#main1 .search-result-edutags-box > div > ul > li.edutags-comment:not(:last-of-type),
#main2 .search-result-edutags-box > div > ul > li.edutags-comment:not(:last-of-type) {
  margin-bottom: 10px;
  border-bottom: 1px solid #999;
}

#main1 .search-result-edutags-box > div > ul > li > h6,
#main2 .search-result-edutags-box > div > ul > li > h6 {
  margin: 0;
}

#main1 .edutags-button,
#main2 .edutags-button,
#main1 .edutags-button:visited,
#main2 .edutags-button:visited {
  color: #1e579a !important;
}

#main1 .edutags-button:hover,
#main2 .edutags-button:hover,
#main1 .edutags-button:focus,
#main2 .edutags-button:focus {
  background-color: inherit !important;
  color: #333 !important;
}

#main1 .edutags-button-tag,
#main1 .edutags-button-comment,
#main2 .edutags-button-tag,
#main2 .edutags-button-comment {
  /*float: right;*/
  margin: 0 -20px 10px 10px;
  cursor: pointer;
  text-decoration: none !important;
  /*font-size: 22px;*/
  width: 100%;
  cursor: pointer !important;
}

#main1 a.edutags-toggle,
#main2 a.edutags-toggle {
  background: none !important;
  color: #aaa !important;
  text-decoration: none;
}
#main1 a.edutags-toggle:hover,
#main2 a.edutags-toggle:hover {
  background: none !important;
  color: #000 !important;
}
