/**
 * @file
 * Module specific style sheets.
 */

/**
 * The following line is a dirty workaround to trick Drupal. Otherwise it will
 * ignore the first CSS definition.
 */

html {
}

#search-box {
    display: block;
    margin: 50px auto;
    max-width: 680px;
    /*text-align: center;*/
    font-size: 0.7em;
}

#search-box.front {
    max-width: 500px;
}

#search-box .row {
    display: block;
    clear: both;
    width: 100%;
    height: auto;
}

#search-box .subrow {
    max-width: 500px;
}

#search-box .col {
    width: auto;
}

#search-box .col.left {
    float: left;
    /*padding-bottom: 10px;*/
    /*clear: left;*/
}

#search-box .col.left:before {
    content: " ";
}

#search-box .col.right {
    float: right;
    clear: right;
}

#search-box .col.right:after {
    content: " ";
}

#search-box .col {
    clear: none;
}

#search-box #search-logo-container {
    width: 180px;
    text-align: left;
    padding-bottom: 5px;
}

#search-box.front #search-logo-container {
    padding: 30px 0;
    width: 75%;
    text-align: center;
}

#search-box #search-logo-container img {
    height: 40px;
    width: auto;
}

#search-box #search-input-container {
    width: 75%;
}

#search-box #search-button-container {
    float: left;
    font-size: 20px;
}

#search-box #search-button-container,
#search-box #advanced-search-toggle-container {
    width: 25%;
}

#search-box #advanced-search-toggle-container {
    text-align: center;
}

#search-box #advanced-search-container {
    float: none;
    margin: 0 auto;
    padding: 0;
    width: 380px;
    text-align: left;
}

#search-box.front #advanced-search-container {
    margin: 0;
}

#search-button-wrapper {
    display: block;
    margin: 0 0 0 3px;
    height: 40px;
    background: #009ce1;
    border: 1px solid #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#search-input-wrapper {
    display: block;
    margin: 0;
    padding: 0;
    height: 40px;
    background: #ddd;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#fff)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #ccc, #fff); /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, #ccc, #fff); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #ccc, #fff); /* IE 10 */
    background: -o-linear-gradient(top, #ccc, #fff); /* Opera 11.10+ */
    border: 1px solid #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#search-button,
#search-input {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

#search-input {
    padding: 0 10px;
}

#advanced-search-toggle {
    cursor: pointer;
}

#advanced-search-container .input-label {
    float: left;
    padding: 0 10px;
    width: 130px;
    text-align: right;
}

#autocompletion-wrapper {
    position: absolute;
    z-index: 600;
    overflow: visible;
    margin: 40px 0 0 0;
    width: 100%;
    /*background: #ccc;*/
    background: #f1f4f6;
    /*  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd)); Safari 4-5, Chrome 1-9
      background: -webkit-linear-gradient(top, #fff, #ddd); Safari 5.1, Chrome 10+
      background: -moz-linear-gradient(top, #fff, #ddd); Firefox 3.6+
      background: -ms-linear-gradient(top, #fff, #ddd); IE 10
      background: -o-linear-gradient(top, #fff, #ddd); Opera 11.10+ */
    border: solid 1px #fff;
}

#autocompletion-wrapper > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#autocompletion-wrapper > ul > li {
    margin: 0;
    padding: 2px 10px;
    font-size: 0.8em;
    cursor: pointer;
}

#autocompletion-wrapper > ul > li.selected {
    /*background-color: #fff;*/
    background-color: #1e579a;
    color: #fff;
}

#textarea-edmond-logo > div {
    float: left;
    width: 50%;
}

#textarea-edmond-logo > div:last-child {
    width: auto;
    margin-left: 20px;
    padding: 5px 0 20px 10px;
    border-left: solid 2px #aaa;
}

#textarea-edmond-logo > div:last-child > div {
    border: dotted 1px #ccc;
}

#latest-resources figure {
    float: left;
    width: 90px;
    margin: 0 10px 0 0 !important;
    padding: 0;
}

#latest-resources img {
    /*width: auto !important;*/
    max-width: 84px !important;
    height: auto !important;
    margin: 0;
    padding: 2px;
    border: 1px solid #ddd;
}

.search-result-latest > img {
    float: left;
    width: 90px !important;
    margin: 0 20px 10px 0 !important;
    padding: 0;
}

#latest-resources h3 {
    font-size: 1em;
}

#latest-resources p {
    /*word-break: break-all;*/
    word-wrap: break-word;
    font-size: 0.8em;
}
