/**
 * Block: Most recent
 */

#lls-most-recent-loading {
  text-align: center;
}

.lls-most-recent:after {
  display: block;
  visibility: hidden;
  content: ".";
  height: 0;
  clear: both;
  margin-bottom: 10px;
}

.lls-most-recent:last-of-type {
  margin: 0;
}

#lls-most-recent-content a:hover, #lls-most-recent-content a:focus {
  text-decoration: none;
  border: none;
}
#lls-most-recent-content a:hover h3, #lls-most-recent-content a:focus h3 {
  text-decoration: underline;
}

.lls-most-recent-header h4 {
  font-size: 14px;
}

.lls-most-recent img {
  float:left;
  max-width: 33.333%;
  width: auto;
  height: auto;
  margin: 0 10px 10px 0;
}

.lls-most-recent p {
  font-size: 0.85em;
}


ul.links.lls-links {
  margin-left: 0;
}
ul.links.lls-links > li {
  float: left;
}

@media (max-width:768px) {
  /**
   * Block: Most recent
   */

  .lls-most-recent img {
    max-width: 100%;
    margin: 0 0 10px 0;
  }

  .lls-most-recent p {
    margin: 0 5px;
    font-size: 0.9em;
  }
}
